@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';


body {
    margin-top: 70px;
}

.label_and_delete {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}